In [1]:
for i in range(10):
    print('Hello')

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [2]:
for i in range(3):
    num = eval(input('enter a number'))
    print('The square of your number is', num*num)
print('This for loop is now done!')

enter a number 3

The square of your number is 9

enter a number 4

The square of your number is 16

enter a number 22

The square of your number is 484
This for loop is now done!

In [3]:
print('C')
print('O')
for i in range(5):
    print('R')
    print('O')
print('N')
print('A')

C
O
R
O
R
O
R
O
R
O
R
O
N
A

In [4]:
print('C')
for i in range(3):
    print('O')
for i in range(5):
    print('R')
print('O')
for i in range(4):
    print('N')
print('A')

C
O
O
O
R
R
R
R
R
O
N
N
N
N
A

In [5]:
for i in range(20):
    print('*')

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

In [6]:
for i in range(20):
    print(i*2)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38

In [7]:
for i in range(10):
    print(i+1, '-- Hello')

1 -- Hello
2 -- Hello
3 -- Hello
4 -- Hello
5 -- Hello
6 -- Hello
7 -- Hello
8 -- Hello
9 -- Hello
10 -- Hello

In [8]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [9]:
for i in range(1, 10):
    print(i)

1
2
3
4
5
6
7
8
9

In [16]:
for i in range(2, 15, 3):
    print(i)

2
5
8
11
14

In [18]:
for i in range(100,1,-4):
    print(i)

100
96
92
88
84
80
76
72
68
64
60
56
52
48
44
40
36
32
28
24
20
16
12
8
4

In [21]:
for i in range(10, 0, -1):
    print(i, end=' ')
print('Blast Off!!')

10 9 8 7 6 5 4 3 2 1 Blast Off!!

In [22]:
for i in range(4):
    print('*'*6)

******
******
******
******

In [28]:
for i in range(36):
    print('*'*(i+1))
for i in range(36):
    print('*'*(i+4))

*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************
****************
*****************
******************
*******************
********************
*********************
**********************
***********************
************************
*************************
**************************
***************************
****************************
*****************************
******************************
*******************************
********************************
*********************************
**********************************
***********************************
************************************
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************
****************
*****************
******************
*******************
********************
*********************
**********************
***********************
************************
*************************
**************************
***************************
****************************
*****************************
******************************
*******************************
********************************
*********************************
**********************************
***********************************
************************************
*************************************
**************************************
***************************************

In [29]:
for i in range(1, 101):
    print('Marco Maldonado')

Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado
Marco Maldonado

In [32]:
for i in range(1, 101):
    print('Marco Maldonado', end=' ')

Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado Marco Maldonado

In [33]:
for i in range(1, 101):
    print(i, 'Marco Maldonado')

1 Marco Maldonado
2 Marco Maldonado
3 Marco Maldonado
4 Marco Maldonado
5 Marco Maldonado
6 Marco Maldonado
7 Marco Maldonado
8 Marco Maldonado
9 Marco Maldonado
10 Marco Maldonado
11 Marco Maldonado
12 Marco Maldonado
13 Marco Maldonado
14 Marco Maldonado
15 Marco Maldonado
16 Marco Maldonado
17 Marco Maldonado
18 Marco Maldonado
19 Marco Maldonado
20 Marco Maldonado
21 Marco Maldonado
22 Marco Maldonado
23 Marco Maldonado
24 Marco Maldonado
25 Marco Maldonado
26 Marco Maldonado
27 Marco Maldonado
28 Marco Maldonado
29 Marco Maldonado
30 Marco Maldonado
31 Marco Maldonado
32 Marco Maldonado
33 Marco Maldonado
34 Marco Maldonado
35 Marco Maldonado
36 Marco Maldonado
37 Marco Maldonado
38 Marco Maldonado
39 Marco Maldonado
40 Marco Maldonado
41 Marco Maldonado
42 Marco Maldonado
43 Marco Maldonado
44 Marco Maldonado
45 Marco Maldonado
46 Marco Maldonado
47 Marco Maldonado
48 Marco Maldonado
49 Marco Maldonado
50 Marco Maldonado
51 Marco Maldonado
52 Marco Maldonado
53 Marco Maldonado
54 Marco Maldonado
55 Marco Maldonado
56 Marco Maldonado
57 Marco Maldonado
58 Marco Maldonado
59 Marco Maldonado
60 Marco Maldonado
61 Marco Maldonado
62 Marco Maldonado
63 Marco Maldonado
64 Marco Maldonado
65 Marco Maldonado
66 Marco Maldonado
67 Marco Maldonado
68 Marco Maldonado
69 Marco Maldonado
70 Marco Maldonado
71 Marco Maldonado
72 Marco Maldonado
73 Marco Maldonado
74 Marco Maldonado
75 Marco Maldonado
76 Marco Maldonado
77 Marco Maldonado
78 Marco Maldonado
79 Marco Maldonado
80 Marco Maldonado
81 Marco Maldonado
82 Marco Maldonado
83 Marco Maldonado
84 Marco Maldonado
85 Marco Maldonado
86 Marco Maldonado
87 Marco Maldonado
88 Marco Maldonado
89 Marco Maldonado
90 Marco Maldonado
91 Marco Maldonado
92 Marco Maldonado
93 Marco Maldonado
94 Marco Maldonado
95 Marco Maldonado
96 Marco Maldonado
97 Marco Maldonado
98 Marco Maldonado
99 Marco Maldonado
100 Marco Maldonado

In [34]:
for i in range(1, 21):
    print(i,'---', i*i)

1 --- 1
2 --- 4
3 --- 9
4 --- 16
5 --- 25
6 --- 36
7 --- 49
8 --- 64
9 --- 81
10 --- 100
11 --- 121
12 --- 144
13 --- 169
14 --- 196
15 --- 225
16 --- 256
17 --- 289
18 --- 324
19 --- 361
20 --- 400

In [36]:
for i in range(8, 90, 3):
    print(i)

8
11
14
17
20
23
26
29
32
35
38
41
44
47
50
53
56
59
62
65
68
71
74
77
80
83
86
89

In [37]:
for i in range(100, 1, -2):
    print(i)

100
98
96
94
92
90
88
86
84
82
80
78
76
74
72
70
68
66
64
62
60
58
56
54
52
50
48
46
44
42
40
38
36
34
32
30
28
26
24
22
20
18
16
14
12
10
8
6
4
2

In [45]:
name = input('What is your name')
times = int(input('How Many Times do you want me to enter repeat your name?'))
for i in range(times):
    print(name)

What is your name Marco
How Many Times do you want me to enter repeat your name? 10

Marco
Marco
Marco
Marco
Marco
Marco
Marco
Marco
Marco
Marco

In [49]:

# Python Fibonacci series Program using While Loop

# Fibonacci series will start at 0 and travel upto below number
Number = int(input("\nPlease Enter the Range Number: "))

# Initializing First and Second Values of a Series
i = 0
First_Value = 0
Second_Value = 1
           
# Find & Displaying Fibonacci series
while(i < Number):
           if(i <= 1):
                      Next = i
           else:
                      Next = First_Value + Second_Value
                      First_Value = Second_Value
                      Second_Value = Next
           print(Next)
           i = i + 1

Please Enter the Range Number:  23

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711

In [52]:
height = int(input('how tall you want your tower'))
for i in range(height):
    print('*'*100)

how tall you want your tower 12

****************************************************************************************************
****************************************************************************************************
****************************************************************************************************
****************************************************************************************************
****************************************************************************************************
****************************************************************************************************
****************************************************************************************************
****************************************************************************************************
****************************************************************************************************
****************************************************************************************************
****************************************************************************************************
****************************************************************************************************